{{ define "main" }}

<section id="home">
  <ul>
    {{ $pages := where site.RegularPages "Section" "in" site.Params.mainSections }}
    {{ $paginator := .Paginate $pages }}
    {{ range $index, $page := $paginator.Pages }}

    <li {{if eq $index 0}}class="first" {{end}}>
      <h2>
        {{ if in .Params.tags "running" }}<i class="fas fa-running activity-title"></i>{{ end }}
        {{ if in .Params.tags "cycling" }}<i class="fas fa-biking activity-title"></i>{{ end }}
        {{ if in .Params.tags "swimming" }}<i class="fas fa-swimmer activity-title"></i>{{ end }}
        {{ if in .Params.tags "hiking" }}<i class="fas fa-hiking activity-title"></i>{{ end }}

        <a href="{{ $page.Permalink }}"title="{{ $page.Title }}">{{ .Title }}</a>
      </h2>
      {{ partial "aside-home" . }}
      {{ partial "featured_image" .}}
      <p>{{ .Summary }}</p>
      {{ if .Truncated }}
      <div class="read-more">
          <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
          <a class="fas fa-angle-double-right"></a>
      </div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</section>

{{ template "_internal/pagination.html" . }}

{{ end }}
